@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="flex-column text-center">
    <h1 class="display-4">Welcome</h1>
    
    @foreach (var style in Model.Styles)
    {
        <link rel="stylesheet" type="text/css" href="@style" />
    }

    <form method="post">
        <div class="grid grid-cols-1 gap-4 place-items-center">
            <p class="text-sm">Enter one,two or three numerical numbers and click the Calculate button to get their statistics</p>
            <div class="flex space-x-8 ...">
                <label for="Number1" class="pl-10">First Number</label>
                <input type="text" name="Number1" id="Number1" class="border border-indigo-600 px-2" value="@Model.Number1" >
            </div>
            
            <div class="flex space-x-8 ...">
                <label for="Number2" class="pl-4">Second Number</label>
                <input type="text" name="Number2" id="Number2" class="border border-indigo-600 px-2" value="@Model.Number2">
            </div>
            
            <div class="flex space-x-8 ...">
                <label for="Number3" class="pl-8">Third Number</label>
                <input type="text" name="Number3" id="Number3" class="border border-indigo-600 px-2" value="@Model.Number2">
            </div>
                    
            <div class="flex pl-24">
                <button class="button w-28 h-10 text-white bg-sky-500 hover:bg-sky-700 rounded-lg" type="submit">Calculate</button>
            </div>
        </div>
    </form>
    
    @if (Model.ShowResult)
    {
        <div class="pt-4 grid grid-cols-1 gap-4 place-items-center">
            <p class="text-xs font-bold">You Entered @Model.Count Number. The following are their Statistics</p>
            <div class="grid grid-flow-col">
                <ul class="mr-28 text-start flex flex-col space-y-4 ...">
                    <li text-start><span class="pl-6">Maximum:</span> <strong class="pl-6">@Model.MaxNumber</strong></li>
                    <li text-start><span class="pl-6">Minimum:</span> <strong class="pl-6">@Model.MinNumber</strong></li>
                    <li text-end><span class="pl-14">Total:</span> <strong class="pl-6">@Model.Total.ToString("0.00")</strong></li>
                    <li text-end><span class="pl-8">Average:</span> <strong class="pl-6">@Model.Average.ToString("0.00")</strong></li>
                </ul>
            </div>
        </div>
    }
    else if (Model.ErrorMsg)
    {
        <div class="pt-4 text-xs font-bold">
            <p>You did not enter any number. No statistics were calculated!</p>
        </div>
    }
</div>